In [1]:
from pyspark.sql import SparkSession

# New API
spark_session = SparkSession\
        .builder\
        .master("local") \
        .appName("Question_A3")\
        .getOrCreate()

# Old API (RDD)
spark_context = spark_session.sparkContext

In [3]:
textEN = spark_context.textFile("/home/ubuntu/LDSA/lab2/europarl-v7.sv-en.en")
textSW = spark_context.textFile("/home/ubuntu/LDSA/lab2/europarl-v7.sv-en.sv")
pipedEN = textEN.pipe("/home/ubuntu/LDSA/lab2/tools/tokenizer.perl -l en")
pipedSW = textSW.pipe("/home/ubuntu/LDSA/lab2/tools/tokenizer.perl -l sv")
lowerCasedEN = pipedEN.flatMap(lambda line: line.lower().split("/n"))\
.flatMap(lambda ls: ''.join(ls).split(" "))
lowerCasedSW = pipedSW.flatMap(lambda line: line.lower().split("/n"))\
.flatMap(lambda ls: ''.join(ls).split(" "))
mappedEN = lowerCasedEN.map(lambda x: (x,1))
groupedEN = mappedEN.groupByKey()

In [4]:
freq_wordsEN = groupedEN.mapValues(sum).map(lambda x: (x[1],x[0])).sortByKey(False)

In [5]:
freq_wordsEN.take(10)

[(3505228, 'the'),
 (2440596, ','),
 (1798163, '.'),
 (1662136, 'of'),
 (1543797, 'to'),
 (1319061, 'and'),
 (1089015, 'in'),
 (839170, 'that'),
 (774986, 'a'),
 (774949, 'is')]

In [6]:
freq_wordsSW = lowerCasedSW.map(lambda x: (x,1))\
.groupByKey()\
.mapValues(sum).map(lambda x: (x[1],x[0])).sortByKey(False)

In [7]:
freq_wordsSW.take(10)

[(1575749, '.'),
 (1461410, 'att'),
 (1218244, ','),
 (1168071, 'och'),
 (887542, 'i'),
 (792023, 'det'),
 (783445, 'för'),
 (778318, 'som'),
 (626587, 'av'),
 (596805, 'är')]

[(3505228, 'the'),
 (2440596, ','),
 (1798163, '.'),
 (1662136, 'of'),
 (1543797, 'to'),
 (1319061, 'and'),
 (1089015, 'in'),
 (839170, 'that'),
 (774986, 'a'),
 (774949, 'is')]

[(1849014, '.'),
 (1709915, 'att'),
 (1477733, ','),
 (1350825, 'och'),
 (1054362, 'i'),
 (952972, 'det'),
 (917581, 'som'),
 (914944, 'för'),
 (740761, 'av'),
 (701844, 'är')]