In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

spark_session = SparkSession\
        .builder\
        .master("local") \
        .appName("Question_B1")\
        .getOrCreate()

spark_context = spark_session.sparkContext
sqlContext = SQLContext(spark_context)

In [2]:
df = sqlContext.\
read.format('csv')\
.options(header='true', inferschema='true',multiLine='true', escape='\'')\
.load('/home/ubuntu/LDSA/lab2/gap_data.csv')

In [3]:
df = spark_session.read.csv('/home/ubuntu/LDSA/lab2/gap_data.csv', header="true", inferSchema="true", multiLine="true", escape="\"")

In [4]:
df.printSchema()

root
 |-- EmployerName: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- CompanyNumber: string (nullable = true)
 |-- SicCodes: string (nullable = true)
 |-- DiffMeanHourlyPercent: double (nullable = true)
 |-- DiffMedianHourlyPercent: double (nullable = true)
 |-- DiffMeanBonusPercent: double (nullable = true)
 |-- DiffMedianBonusPercent: double (nullable = true)
 |-- MaleBonusPercent: double (nullable = true)
 |-- FemaleBonusPercent: double (nullable = true)
 |-- MaleLowerQuartile: double (nullable = true)
 |-- FemaleLowerQuartile: double (nullable = true)
 |-- MaleLowerMiddleQuartile: double (nullable = true)
 |-- FemaleLowerMiddleQuartile: double (nullable = true)
 |-- MaleUpperMiddleQuartile: double (nullable = true)
 |-- FemaleUpperMiddleQuartile: double (nullable = true)
 |-- MaleTopQuartile: double (nullable = true)
 |-- FemaleTopQuartile: double (nullable = true)
 |-- CompanyLinkToGPGInfo: string (nullable = true)
 |-- ResponsiblePerson: string (nullable = true)
 |-- EmployerSize: string (nullable = true)
 |-- CurrentName: string (nullable = true)
: string (nullable = true)

In [5]:
df.createOrReplaceTempView("gender_pay_gap")
sqlDFAsc = spark_session.sql("SELECT EmployerName, DiffMeanHourlyPercent FROM gender_pay_gap ORDER BY DiffMeanHourlyPercent")
sqlDFDesc = spark_session.sql("SELECT EmployerName, DiffMeanHourlyPercent FROM gender_pay_gap ORDER BY DiffMeanHourlyPercent DESC")
sqlDFAvg = spark_session.sql("SELECT AVG(DiffMeanHourlyPercent) FROM gender_pay_gap")
sqlDFNeg = spark_session.sql("SELECT COUNT(EmployerName) FROM gender_pay_gap WHERE DiffMeanHourlyPercent < 0")
sqlDFAll = spark_session.sql("SELECT COUNT(EmployerName) FROM gender_pay_gap")

In [6]:
sqlDFDesc.show()

+--------------------+---------------------+
|        EmployerName|DiffMeanHourlyPercent|
+--------------------+---------------------+
|MILLWALL HOLDINGS...|                159.0|
|STOKE CITY FOOTBA...|                 92.5|
|BURNLEY FOOTBALL ...|                 88.4|
|SWANSEA CITY ASSO...|                 87.8|
|MANCHESTER CITY F...|                 87.7|
|WEST HAM UNITED F...|                 87.4|
|WATFORD ASSOCIATI...|                 87.0|
|SUNDERLAND ASSOCI...|                 85.1|
|SOUTHAMPTON FOOTB...|                 84.4|
|WEST BROMWICH ALB...|                 84.4|
|        CPFC LIMITED|                 84.0|
|NEWCASTLE UNITED ...|                 83.3|
|CHELSEA FOOTBALL ...|                 83.0|
|MIDDLESBROUGH FOO...|                 83.0|
|AFC BOURNEMOUTH L...|                 83.0|
|Tottenham Hotspur...|                 83.0|
|HARGREAVE HALE LI...|                 81.3|
|THE ARSENAL FOOTB...|                 79.6|
|LEICESTER CITY FO...|                 78.0|
|SHEFFIELD WEDNESD...|                 78.0|
+--------------------+---------------------+
only showing top 20 rows

In [7]:
sqlDFAsc.show()

+--------------------+---------------------+
|        EmployerName|DiffMeanHourlyPercent|
+--------------------+---------------------+
|COMPLETE CARE HOL...|               -400.0|
|BARLOWS (U.K.) LI...|               -267.6|
|    INBRELLA LIMITED|               -150.0|
|    BAR 2010 LIMITED|               -148.0|
|Solent Academies ...|               -107.0|
|Unity Contracting...|                -69.4|
|CREST PLUS OPERAT...|                -66.5|
|PLUS PAYROLL SERV...|                -64.4|
|MARS FOOD UK LIMITED|                -51.5|
|L.E.A.D SERVICES ...|                -51.0|
|SAI AUTOMOTIVE WA...|                -47.9|
|TESCO MAINTENANCE...|                -47.2|
|SWEET DREAMS (NEL...|                -46.4|
|HARSCO METALS GRO...|                -45.9|
|QUEST EMPLOYMENT ...|                -43.9|
|ACCROL PAPERS LIM...|                -42.9|
|NATIONWIDE WINDOW...|                -42.2|
|ATS EUROMASTER LI...|                -41.4|
|PAYSTREAM MY MAX ...|                -38.0|
|OAK TYRES UK LIMITED|                -37.6|
+--------------------+---------------------+
only showing top 20 rows

In [8]:
sqlDFAvg.show()

+--------------------------+
|avg(DiffMeanHourlyPercent)|
+--------------------------+
|          14.2997905559787|
+--------------------------+

In [9]:
sqlDFNeg.show()

+-------------------+
|count(EmployerName)|
+-------------------+
|               1225|
+-------------------+

In [10]:
sqlDFAll.show()

+-------------------+
|count(EmployerName)|
+-------------------+
|              10504|
+-------------------+

In [11]:
print(1225/10504)

0.11662223914699162

In [ ]:
sqlDFAvg.write.csv("avg_gender_pay_gap.csv")