In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
import pandas

# (8 cores, 16gb per machine) x 5 = 40 cores

# New API
spark_session = SparkSession\
        .builder\
        .master("local") \
        .appName("Question_B1")\
        .getOrCreate()

# Old API (RDD)
spark_context = spark_session.sparkContext
sqlContext = SQLContext(spark_context)

In [2]:
df = sqlContext.\
read.format('csv')\
.options(header='true', inferschema='true',multiLine='true', escape='\'')\
.load('/home/ubuntu/LDSA/lab2/gap_data.csv')

In [3]:
df = spark_session.read.csv('/home/ubuntu/LDSA/lab2/gap_data.csv', header="true", inferSchema="true", multiLine="true", escape="\"")

In [ ]:
df.printSchema()

In [4]:
df.createOrReplaceTempView("gender_pay_gap")
sqlDFAsc = spark_session.sql("SELECT EmployerName, DiffMeanHourlyPercent FROM gender_pay_gap ORDER BY DiffMeanHourlyPercent")
sqlDFDesc = spark_session.sql("SELECT EmployerName, DiffMeanHourlyPercent FROM gender_pay_gap ORDER BY DiffMeanHourlyPercent DESC")
sqlDFAvg = spark_session.sql("SELECT AVG(DiffMeanHourlyPercent) FROM gender_pay_gap")
sqlDFNeg = spark_session.sql("SELECT COUNT(EmployerName) FROM gender_pay_gap WHERE DiffMeanHourlyPercent < 0")
sqlDFAll = spark_session.sql("SELECT COUNT(EmployerName) FROM gender_pay_gap")

In [ ]:
sqlDFDesc.show()

In [ ]:
sqlDFAsc.show()

In [ ]:
sqlDFAvg.show()

In [ ]:
sqlDFNeg.show()

In [ ]:
sqlDFAll.show()

In [ ]:
print(1225/10504)

In [6]:
sqlDFAvg.toPandas().to_csv("avg_gender_pay_gap.csv", header=True)